@font-face {
    font-family: 'tngan';
    src: url('Police/tngan/tngan.ttf') format('truetype'),
         url('Police/tngan/tnganb.tff') format('truetype'),
         url('Police/tngan/tnganbi.ttf') format('truetype'),
         url('Police/tngan/tngani.tff') format('truetype');      
}
@font-face {
    font-family: 'anicb';
    src: url('Police/anicb/anicb___.ttf') format('truetype'),
         url('Police/anicb/anicm___.tff') format('truetype'),
         url('Police/anicb/anirb___.ttf') format('truetype'),
         url('Police/anicb/anirm___.tff') format('truetype');
}
@font-face {
    font-family: 'partybusiness';
    src: url('Police/partybusiness/partybusiness.ttf') format('truetype');
         
}

/*Header-----------------------------------------------------------------------------------------------------------------------*/

body{
    font-family: 'partybusiness';
}

.line {
    display: flex;
    justify-content: center;
    align-items: baseline;
  
    margin-top: 20px;
}
.line h2{
    font-size:larger;
}

.line p {
    margin-left: 5px;
}
header nav{
    display: flex;
    justify-content: space-between;
}
.navbar{
    background-color: #fe6804;
    font-size: 0.8em;
    font-family: 'anicb';
    padding: 0;
    padding-left: 15px;
}
/* Carroussel ---------------------------------------------------------------------------------------------------------------*/

.card-body p{
    margin-bottom: 20%;
    font-size: 1.5em;
    
}


/* POUR LES CARD ---------------------------------------------------------------------------------------------------------------*/

.button {
    position: absolute;
    top: 4%;
    left: 5%;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .8);  
}
.button h1{
    font-size: 1.7em;
    
}
.button span {
    color: #fe6804;
}

.button1 {
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;
    width: 90%;
}
.button1 h1{
    color:#fe6804;
}

.top-card img {
    opacity: .8;
}

.top-card:hover img {
    opacity: 1;
}

.caption {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.top-card:hover h1 {
    display: none;
}


.top-card:hover .caption {
    font-size: 20px;
    text-align: center;
    top: 40%;
}



.fellows {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;



    margin-top: 30px;
}

.fellows img {
    height: 350px;
    

}

.card {
    position: relative;
    border:4px solid black;
    border-radius: 0;
    
}
.card-body{
    background-color: black;
    color: white;
}

div.card {
    margin-top: 20px;
}


.gollum button{
    margin-left: 50%;
    border-radius: 5px;
    height: 70px;
}

.hunters{
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
    
    
}
td,th{
    border: 1px solid black;
    
}
th{
    background-color:#9e9e9e;
}
table{
    
    width: 100%;
   
}
.ring img{
    float: right;
}

